@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    padding: 10px 20px;
}

header nav {
    align-self: flex-start;
}

nav button {
    background-color: hsla(0, 0%, 100%, 0);
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

nav button:hover {
    border-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 80%);
    cursor: pointer;
}

main {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

main > div {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    gap: 5px;
}

.book-info {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 2fr;
}

main > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status_btn {
    border: 1px solid black;
    background-color: white;
}

.delete_btn {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.status_btn, .delete_btn {
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.status_btn:hover {
    background-color: hsl(0, 0%, 90%);
}

.delete_btn:hover {
    color: hsl(0, 0%, 80%);
}

.status_btn:hover, .delete_btn:hover {
    cursor: pointer;
}


.add_book_popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.add_book_popup div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.add_book_popup svg {
    width: 30px;
}

.add_book_popup svg:hover {
    cursor: pointer;
}

.input_book_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input_book_form input[type="text"], .input_book_form input[type="number"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.input_book_form input[type="text"]:active, .input_book_form input[type="number"]:active {
    outline: none;
    border: 2px solid hsl(240, 100%, 30%);
}

.input_book_form fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
}

.input_book_form button {
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    margin-top: 5px;
}

.input_book_form button:hover {
    color: hsl(0, 0%, 80%);
    cursor: pointer;
}

.invisible {
    display: none;
}